@import 'open-props/colors-hsl';

.markdown-body {
  ul {
    margin: 2rem 0rem;

    li {
      margin: 1rem 0rem;
    }
  }

  p {
    font-family: 'Inter var';
    font-size: 15px;
    line-height: 28px;
    max-inline-size: none;
    margin: 1rem 0rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2rem 0rem 1rem 0rem;

    .header-anchor {
      font-size: 30px;
      margin-left: -1em;
      float: left;
      background: none;
      opacity: 0;
      transition: opacity 100ms ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      a {
        opacity: 0.8;
      }
    }
  }

  code {
    font-weight: 600;
    font-size: 13px;
    font-family: 'JetBrains-Mono';
    padding: 0;
    background-color: var(--gray-8);
    padding: 0.05rem 0.1rem;
    border-radius: 3px;

    &::before,
    &::after {
      content: '`';
    }
  }
  pre[class*='language-js'] {
    &::before {
      background-color: var(--yellow-3);
      content: 'JS';
    }
  }
  pre[class*='language-js'] {
    &::before {
      background-color: var(--red-6);
      color: var(--gray-8);
      content: 'npm';
    }
  }
  pre[class*='language-ts'] {
    &::before {
      background-color: var(--blue-5);
      color: white;
      content: 'TS';
    }
  }
  pre {
    &::before {
      color: var(--gray-8);
      padding: 0.05rem 0.1rem;
      float: right;
      content: '';
    }

    background-color: var(--gray-8);
    border-radius: 3px;
    padding: 1rem 0.5rem;
    max-inline-size: none;
    overflow-x: scroll;
    code {
      padding: 0;
      font-weight: normal;
      &::before,
      &::after {
        content: '';
      }
    }
  }

  a {
    font-size: 15px;
    margin: 0 0.05rem;
    padding: 0.1rem 0.5rem;
    background-color: hsl(var(--gray-8-hsl) / 40%);
    color: var(--orange-5);
    border-radius: 5px;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-info {
  .separator {
    width: 23%;
    height: 5px;
    border-radius: 3px;
    margin: 0;
    margin-top: 2rem;
  }
}

.article-title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 2em;
  max-inline-size: none;
}

.article-date {
  margin-top: 0.5rem;
  display: inline-flex;
  font-size: 12px;
  gap: 0.5rem;
  align-items: center;
}

.article-tags {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;

  .article-tag {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    gap: 0.5rem;
    background-color: hsl(var(--red-5-hsl) / 30%);
    font-size: 13px;
    font-weight: 600;
    color: var(--red-5);
    cursor: pointer;
  }
}

.article-description {
  font-family: 'Inter var';
  font-size: 14px;
  font-weight: 300;
}
