.container {
  background-color: white;
  margin-top: 10.8rem;
  width: calc(100vh / 1.38);
  border-radius: 8px;
  height: 100%;
  padding: 2.5rem;

  .header {
    img {
      height: 128px;
      background-color: var(--orange-5);
      width: 128px;
      border-radius: 999px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    margin-top: 0.35rem;
    line-height: 38px;
    letter-spacing: -1px;
    color: var(--gray-8);
    font-family: 'Inter';
    font-size: var(--font-size-5);
    font-weight: 800;
  }

  .profile-details {
    font-family: 'Inter';
    font-weight: 300;
    margin-top: 0.5rem;
    .list-inline {
      margin: 0;
      padding: 0;
      font-size: 14px;
      li {
        color: var(--gray-9);
        display: inline;

        &::after {
          content: ' \00b7';
          display: inline-flex;
          margin: 0 0.4rem;
        }

        &:last-child {
          &::after {
            content: '';
          }
        }
      }
    }
  }

  .profile-badges {
    font-family: 'Inter';
    margin-top: 1.3rem;
    font-size: 14px;

    .profile-badges-panel {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      & > div {
        margin: 0.3rem 0.3rem;
      }

      .badge {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 500;
        border-radius: 100px;
        padding: 0.58rem 1.07rem;
        color: var(--gray-9);
        border: 1px solid var(--gray-1);
        transition: 150ms ease-in-out;

        &:hover {
          background-color: var(--gray-1);
        }

        .icon {
          font-size: 16px;
          margin-right: 0.4rem;
        }
      }

      .sky-blue {
        .icon {
          color: var(--blue-5);
        }

        &:hover {
          color: var(--blue-5);
        }
      }

      .lime-green {
        .icon {
          color: var(--green-5);
        }

        &:hover {
          color: var(--green-5);
        }
      }

      .pink {
        .icon {
          color: var(--pink-5);
        }

        &:hover {
          color: var(--pink-5);
        }
      }

      .orange {
        .icon {
          color: var(--orange-5);
        }

        &:hover {
          color: var(--orange-5);
        }
      }

      .yellow {
        .icon {
          color: var(--yellow-5);
        }

        &:hover {
          color: var(--yellow-5);
        }
      }

      .green {
        .icon {
          color: var(--green-8);
        }

        &:hover {
          color: var(--green-8);
        }
      }

      .red {
        .icon {
          color: var(--red-7);
        }

        &:hover {
          color: var(--red-7);
        }
      }

      .pale-blue {
        .icon {
          color: var(--indigo-5);
        }

        &:hover {
          color: var(--indigo-5);
        }
      }

      .purple {
        .icon {
          color: var(--violet-5);
        }

        &:hover {
          color: var(--violet-5);
        }
      }

      .dark-purple {
        .icon {
          color: var(--violet-8);
        }

        &:hover {
          color: var(--violet-8);
        }
      }
    }
  }

  .profile-description {
    color: var(--gray-9);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 21px;
    padding: 0;

    p:first-child {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }

    p:nth-child(2) {
      margin-top: 0;
    }

    p:nth-child(5) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      span {
        margin: 0 0.125rem;
        cursor: pointer;
        background-color: var(--gray-1);
        padding: 0.15rem 0.5rem;
        border-radius: 5px;
        font-weight: 600;
        transition: 150ms ease-in-out;
      }

      .blue:hover {
        background-color: var(--blue-7);
      }
      .orange:hover {
        background-color: var(--orange-7);
      }

      .yellow:hover {
        background-color: var(--yellow-7);
      }

      .purple:hover {
        background-color: var(--violet-7);
      }

      .green:hover {
        background-color: var(--green-7);
      }

      .red:hover {
        background-color: var(--red-7);
      }
    }

    .icon {
      vertical-align: baseline;
    }

    .title {
      font-weight: 700;
      margin: 0;
      padding: 0;
      font-size: 18px;
    }
  }

  .socials {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      transition: all 100ms ease-in-out;
    }

    a:hover {
      background-color: var(--gray-1);
      border-radius: 999px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    margin-top: 2rem;

    .header {
      img {
        height: 100px;
        background-color: var(--orange-2);
        width: 100px;
        border-radius: 999px;
      }
    }
    .title {
      font-size: 20px;
    }

    .profile-badges {
      font-size: 14px;
    }
  }
}

.dark-mode {
  .container {
    background-color: var(--gray-9);
    .title {
      color: white;
    }

    .profile-details {
      .list-inline {
        li {
          color: var(--gray-3);
        }
      }
    }

    .profile-badges {
      .profile-badges-panel {
        .badge {
          border: 1px solid var(--gray-8);
          color: white;

          &:hover {
            background-color: var(--gray-8);
          }
        }
      }
    }

    .profile-description {
      color: var(--gray-1);

      p:nth-child(5) {
        span {
          background-color: var(--gray-8);
        }
      }
    }

    .socials {
      a {
        color: white;
      }

      a:hover {
        background-color: var(--gray-8);
      }
    }
  }
}
