@import 'https://unpkg.com/open-props';
@import './fonts.scss';
@import './reset.min.scss';

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  justify-content: center;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--orange-5);
  height: 25rem;
  width: 100vw;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .frame {
    height: 2rem;
  }
}

.container {
  font-family: Inter;
  background-color: white;
  margin-top: 10.8rem;
  width: 42vw;
  border-radius: 8px;
  height: 100%;
  padding: 2.5rem;
  color: black;
}

.dark-mode {
  .container {
    background-color: var(--gray-9);
    color: white;
  }
  body {
    background-color: var(--gray-9);
  }
}
