.nuxt-content {
  color: var(--gray-1);
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 300;
  margin-top: 2rem;
  line-height: 21px;

  a {
    font-weight: 500;
    color: inherit;
    background-color: var(--gray-8);
    border-radius: 3px;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: var(--blue-5);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    a {
      text-decoration: none;
      position: absolute;
      margin-left: -1rem;
      margin-top: 10x;
      background: none;
      opacity: 0;
      border: none;
      padding: 0;
      transition: opacity ease-in-out 200ms;

      span::before {
        content: '#';
      }
    }
    &:hover {
      a {
        background: none;
        opacity: 1;
      }
    }
  }
}
